<div id="page-wrapper">
	<div id="page">
		<div class="header-top-wrap">
			<div class="header-top container">
				{{ page.top_header }}
			</div>
		</div>
		{% if page.header %}
			<header id="header" class="header bg-[#fff] clearfix" role="banner" aria-label="{{ 'Site header'|t }}">
				<div class="inner-header flex items-center justify-between container">{{ page.header }}</div>
			</header>
		{% endif %}
		{% if page.contentop %}
			<div class="content-top-wrap">
				<div class="content-top">
					{{ page.contentop }}
				</div>
			</div>
		{% endif %}
		{% if page.content %}
		<main role="main">
			<div class="container inner-main bg-[#fff] py-6 px-4 shadow-md rounded-lg">
		       {{ page.content }}
			</div>
		</main>
		{% endif %}
		
		{% if page.contentbottom %}
			<div class="content-bottom">
				<div class="mt-[30px] bg-[#fff]">
					{{ page.contentbottom }}
			    </div>
			</div>
		{% endif %}
		{% if page.khachhang %}
			<div class="region-khachhang">
				<div class="mt-[30px]">
					{{ page.khachhang }}
			    </div>
			</div>
		{% endif %}
		{% if page.footer %}
			<footer class="footer-wap bg-[#242C42] ">
				<div class="container">{{page.footer}}</div>
			</footer>
		{% endif %}
	</div>
</div>
