<div id="page-wrapper">
	<div id="page">
		<div class="header-top-wrap">
			<div class="header-top container">
				{{ page.top_header }}
			</div>
		</div>
		{% if page.header %}
			<header id="header" class="header clearfix" role="banner" aria-label="{{ 'Site header'|t }}">
				<div class="inner-header flex items-center justify-between container">{{ page.header }}</div>
			</header>
		{% endif %}
		{% if page.contentop %}
			<div class="content-top-wrap">
				<div class="content-top">
					{{ page.contentop }}
				</div>
			</div>
		{% endif %}
		<main role="main">
			{{ page.content }}
		</main>
		{% if page.contentbottom %}
			<div class="content-bottom">
				{{ page.contentbottom }}
			</div>
		{% endif %}
		{% if page.footer %}
			<footer class="text-center py-4 text-sm text-gray-500">
				©
				{{ "now"|date("Y") }}
				{{ site_name }}
			</footer>
		{% endif %}
	</div>
</div>
